#### ENTER ACCESS_KEY AND SECRET KEY

In [1]:
Access_Key = "CHG8IXBZAY"
Secret_Key = "hPBH90WRsv9Jl3feEl5c"

#### ENTER PIPELINE NUMBER, SOURCE PASSWORD, DESTINATION PASSWORD

In [2]:
pipeline_number = 1276
source_password = 'root'
destination_password = 'Thisisfeb16@'

### Get Pipeline API call

In [3]:
import requests
import base64

  
sample_string = (Access_Key)+":"+(Secret_Key)
sample_string_bytes = sample_string.encode("ascii")
  
base64_bytes = base64.b64encode(sample_string_bytes)
base64_string = base64_bytes.decode("ascii")
  
#print(f"Encoded string: {base64_string}")

url = 'https://us.hevodata.com/api/public/v2.0/pipelines/'+ str(pipeline_number)
headers = {'Accept':'application/json','Authorization': 'Basic '+ base64_string}
r = requests.get(url, headers=headers)

# print (r.json())
# print (r.json()['data']['destination']['type']['name'])

### Initialize Source connection

In [7]:
import great_expectations as ge

import pymysql

import pandas as pd

if r.json()['data']['source']['type']['name']=='MYSQL':
    user = r.json()['data']['source']['config']['db_user']
    password = r.json()['data']['source']['config']['db_password']
    port = r.json()['data']['source']['config']['db_port']
    host = r.json()['data']['source']['config']['db_host']
    db = r.json()['data']['source']['config']['db_names']
    CONN=pymysql.connect(host=host,port=port,user=user,passwd='root',db=db)

df = pd.read_sql_query("Select * from Products",CONN)
df = ge.from_pandas(df)
df.head()

OperationalError: (2003, "Can't connect to MySQL server on 'solutions-demodb.hevo.me' (timed out)")

### Initialize Destination connection

In [6]:
import snowflake.connector

import pandas as pd

if r.json()['data']['destination']['type']['name'] == 'SNOWFLAKE':
    db_name = r.json()['data']['destination']['config']['db_name']
    db_user = r.json()['data']['destination']['config']['db_user']
    account_name = r.json()['data']['destination']['config']['account_name']
    schema_name = r.json()['data']['destination']['config']['schema_name']
    warehouse = r.json()['data']['destination']['config']['warehouse']
    region = r.json()['data']['destination']['config']['region']
    destination_conn =  snowflake.connector.connect(user=db_user, password=destination_password, 
                                                    account=account_name + "." + region, role='ACCOUNTADMIN', warehouse=warehouse,
                                                    database = db_name, schema = schema_name)
    
data=pd.read_sql_query("select * from HEVODB.PUBLIC.PRODUCTS ",destination_conn)

# data = ge.from_pandas(data)
data.head()
data.shape
# data.describe()

/Users/nikhilbansal/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(11100224, 13)

### Loop through source tables

In [8]:
url = "https://us.hevodata.com/api/public/v2.0/pipelines/"+str(pipeline_number)+"/event-types?limit=100"

headers = {
    "Accept": "application/json",
    "Authorization": "Basic Q0hHOElYQlpBWTpoUEJIOTBXUnN2OUpsM2ZlRWw1Yw=="
}

response = requests.request("GET", url, headers=headers)

#print(response.json())
table_count = (response.json()['pagination']['count'])
source_tables = []
for i in range(table_count):
    source_tables.append(response.json()['data'][i]['event_type'])
    
print(source_tables)

['Products', 'Users']

### Loop through respective destination tables

In [9]:
for i in source_tables:
    url = "https://us.hevodata.com/api/public/v2.0/pipelines/"+str(pipeline_number)+"/mappings/" + i

    headers = {
        "Accept": "application/json",
        "Authorization": "Basic Q0hHOElYQlpBWTpoUEJIOTBXUnN2OUpsM2ZlRWw1Yw=="
    }

    response = requests.request("GET", url, headers=headers)

    print(response.json()['data']['destination_table'])

PRODUCTS
USERS

In [8]:
df = pd.read_sql_query("Select * from Products",CONN)
df = ge.from_pandas(df)
df.head()

,ID,sku,category,description,price,isActive,lastUpdated,countryOfOrigin
0,1,Small,Retail,Perishable,100.0,1,2021-12-03 05:36:42,India
1,2,Small,Retail,Perishable,100.0,1,2021-12-03 05:38:37,India
2,3,Small,Retail,Perishable,100.0,1,2021-12-03 05:38:37,India
3,4,Small,Retail,Perishable,100.0,1,2021-12-03 05:38:37,India
4,5,Small,Retail,Perishable,100.0,1,2021-12-03 05:38:37,India

In [9]:
df.shape

/Users/nikhilbansal/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(11100224, 8)

In [10]:
sample_frame = {tables : 
                          {source_table_name:Products,destination_table_name:PRODUCTS,
                          source_row_count:xxx,destination_row_count:xxx,
                          source_column_count:xxx,destination_column_count:xxx,
                          source_unique_count:xxx,destination_unqiue_count:xxx,
                          source_not_null:xxxdestination_not_null:xxx} , 
                         
                         {source_table_name:Users,destination_table_name:USERS,
                          source_row_count:xxx,destination_row_count:xxx,
                          source_column_count:xxx,destination_column_count:xxx,
                         source_unique_count:xxx,destination_unqiue_count:xxx,
                          source_not_null:xxxdestination_not_null:xxx}
                              
                          }

SyntaxError: invalid syntax (<ipython-input-10-76ac7680a4ce>, line 6)

### Compare Row Count of both tables

In [ ]:
data.expect_table_row_count_to_equal(df.shape[0])

### Compare Column Count

In [ ]:
data.expect_table_column_count_to_equal(df.shape[1])

### Column Values to not be NULL

In [ ]:
data.expect_column_values_to_not_be_null('ID')

### Column values to be unique

In [ ]:
data.expect_column_values_to_be_unique('ID')